/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px;

}
.logo_header img {
width: 61.09px;
height: 19px;
gap: 0px;
}
.menu a {
    padding: 20px;

}
.menu :hover {
text-decoration: overline;
text-decoration-color: var(--main-color);
color: var(--main-color);
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.bar_recherche{
display: flex;
margin: 30px 0px;
}

.bouton_localisation {
display: flex;
align-items: center;
padding: 10px 20px;
border: 1px solid var(--main-bg-color);
border: 1px;
border-radius: 15px 0px 0px 15px;
}

.fa-location-dot{
font-size: 18px;
width: 14px;
height: 18px;
top: 15px;
left: 18px;
gap: 0px;
color: rgba(0, 0, 0, 1);
}

#recherche{
border: 1px solid var(--main-bg-color);
font-family: Raleway;
font-size: 18px;
font-weight: 700;
padding: 10px;
}

.bar_recherche .bouton_recherche{
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px;
text-align: center;
color: rgba(255, 255, 255, 1);
padding: 15px 16px 15px 16px;
gap: 10px;
border-radius: 0px 15px 15px 0px;
border: 1px;
background: var(--main-color);
border: 1px solid var(--main-color);
cursor: pointer;
transition: background-color 300ms, color 300ms;
}

.bouton_recherche:hover{
background:var(--filter-bg-color);
opacity: 1;
color: var(--main-color);

}

.filtres{
display: flex;
margin: 30px 0px;
}

.bouton_filtres{
font-family: Raleway;
font-size: 17px;
font-weight: 700;
line-height: 21px;
text-align: center;
padding: 2px 19px 2px 19px;
gap: 10px;
border-radius: 30px 30px 30px 30px;
border: 2px;
border: 2px solid var(--main-bg-color);
background: white;
margin-left: 20px;
}

.filtres :hover{
background: var(--filter-bg-color);
}

.filtres h3:hover {
background: white;
}

.info p{
display:flex;
align-items: center;

}

.info p i {
width: 24px;
height: 24px;
gap: 0px;
border: 1px;
border: 2px solid var(--main-bg-color);
border-radius: 20px 20px 20px 20px;
margin-right: 10px;
background: white;
}

.fa-info{
display: flex;
justify-content: center;
align-items: center;
font-size: 10px;
width: 4px;
height: 10px;
top: 7px;
left: 10px;
gap: 0px;
}

.hebergements{
font-family: Raleway;
font-size: 22px;
font-weight: 700;
line-height: 25.83px;
text-align: left;

}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
margin: 15px;
font-size: 22px;
}

.card {
background-color: white;
border-radius: 20px;
padding: 5px;
filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.card-subtitle{
font-family: Raleway;
font-size: 14px;
font-weight: 400;
line-height: 5px;
text-align: left;

}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 10px 30px 30px 30px ;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
width: 65%;
height: 100%;

}

.hebergements_cards{
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
object-fit: cover;

}

.hebergements_cards .card{
width: 250px;
height: 100%;
margin: 3px 0;

}

.hebergements_cards img{
width: 100%;
height: 124px;
border-radius: 15px 15px 0px 0px;
border: 5px;
}

.hebergements_cards .card-content{
width: 100%;
height: 100%;
padding: 0px 15px 0px 15px;
}

.afficher_plus{
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21.13px;
text-align: left;
border: var(--filter-bg-color);
margin-top: 30px;
}

.afficher_plus i{
    color: black;
    font-size: 15px;
}

.afficher_plus:hover{
    text-decoration: underline;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********Activités*******/
.activités{
    padding: 20px;
}
.activités_cards{
    padding: 20px;
    display: flex;
    gap: 0px;
    justify-content: space-around;
}

.activités_cards .card{
    padding: 0px;
    box-sizing: border-box;
}

.activités_cards .card-title{
margin-top: 10px;
margin-bottom: 4px;
padding: 0px 0px 20px 20px;
}
.activités img{
width: 297.5px;
height: 380px;
gap: 0px;
border-radius: 20px 20px 0px 0px;
filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
object-fit: cover;
}

/********Footer********/

.bas_de_page{
font-family: Raleway;
display: flex;
background: var(--main-bg-color);
gap: 250px;
padding: 0px 30px 0px 30px;
}

.bas_de_page a:hover{
    text-decoration: underline;
}

ul{
list-style-type: none;
padding: 0px;
font-family: Raleway;
font-size: 16px;
font-weight: 400;
line-height: 18.78px;
text-align: left;
}

li{
padding: 5px 0px 15px 0px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
.hebergements-and-populaires {
flex-direction: column;
}

.hebergements{
width: 100%;
}


.populaires {
width: 100%;
margin-top: 50px;
}

.populaires-cards {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.populaires-cards a {
width: 30%;
}

.populaires-cards .card-title {
font-size: 14px;
}

.populaires-cards .card-subtitle {
font-size: 13px;
}

.activités{
width: 100%;
padding: 0px;
}

.activités_cards .card{
    height: 200px;
}
.activités_cards{
display: flex;
justify-content: flex-start;
gap: 30px;
padding: 30px;
}
.activités_cards img{
width: 100%;
height: 133px;
}
.activités_cards a{
width: 35%;
}


.bas_de_page{
    gap: 150px;
}
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
/* ... */
}