/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 30px 0px;
    margin-bottom: 30px;
}

.logo_header {
    width: 61.09px;
    height: 19px;
}

.headline h3{
font-size: 26px;
margin: 0px;
}

.headline p{
    font-size: 16px;
    margin-top: 10px;
}
.menu a {
    padding-top: 20px;
    margin: 20px;
}

.menu a:hover {
    border-top: 2px solid var(--main-color);
    text-decoration-color: var(--main-color);
    color: var(--main-color);
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.bar_recherche{
    display: flex;
    margin: 30px 0px;
}

    .bouton_localisation {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid var(--main-bg-color);
    border: 1px;
    border-radius: 15px 0px 0px 15px;
}

.fa-location-dot{
    font-size: 18px;
    width: 14px;
    height: 18px;
    top: 15px;
    left: 18px;
    gap: 0px;
    color: rgba(0, 0, 0, 1);
}

#recherche{
    width: 180px;
    border: 1px solid var(--main-bg-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0px 10px 30px;
}

.bar_recherche .bouton_recherche{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 15px 16px 15px 16px;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}

.fa-magnifying-glass{
    display: none;
}
.bouton_recherche:hover{
    background:var(--filter-bg-color);
    opacity: 1;
    color: var(--main-color);

}

.filtres{
    display: flex;
    margin: 30px 0px;
}

.bouton_filtres{
    font-family: Raleway;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    padding: 2px 19px 2px 19px;
    gap: 10px;
    border-radius: 30px 30px 30px 30px;
    border: 2px;
    border: 3px solid var(--main-bg-color);
    background: white;
    margin: 0px 10px 0px 0px;
}

.filtres :hover{
    background: var(--filter-bg-color);
}

.filtres h3:hover {
    background: white;
}

.info p{
    display:flex;
    align-items: center;
    margin-bottom: 30px;
}

.info p i {
    width: 24px;
    height: 24px;
    gap: 0px;
    border: 1px;
    border: 2px solid var(--main-bg-color);
    border-radius: 20px 20px 20px 20px;
    margin-right: 10px;
    background: white;
}

.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 4px;
    height: 10px;
    top: 7px;
    left: 10px;
    gap: 0px;
}

.hebergements{
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;

}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 15px;
    font-size: 26px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.card-subtitle{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;

}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    
    border-radius: 20px;
    padding: 10px 30px 30px 30px ;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    height: 100%;
    background-color: var(--main-bg-color);

}

.hebergements_cards{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    object-fit: cover;

}

.hebergements_cards .card{
    width: 240px;
    height:207px;
    margin: 0px 0px 30px 0px;

}

.hebergements_cards img{
    width: 100%;
    height: 124px;
    border-radius: 15px 15px 0px 0px;
    border: 5px;
}

.hebergements_cards .card-content{
    width: 100%;
    height: auto;
    padding: 0px 15px 0px 15px;
}

.hebergements_cards .card-title{
    margin: 0px;
}

.hebergements_cards .card-subtitle{
    line-height: 1px;
}

.afficher_plus{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: left;
    border: var(--filter-bg-color);
    margin-top: 30px;
}

.afficher_plus i{
    color: black;
    font-size: 18px;
}

.afficher_plus:hover{
    text-decoration: underline;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********Activités*******/
.activités{
    padding: 20px;
}

.activités h3{
    margin-top: 50px;
}
.activités_cards{
    padding-top: 40px;
    display: flex;
    gap: 0px;
    justify-content: space-between;
}

.activités_cards .card{
    padding: 0px;
    box-sizing: border-box;
}

.activités_cards .card-title{
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 0px 0px 20px 20px;
}
.activités img{
    width: 297.5px;
    height: 380px;
    gap: 0px;
    border-radius: 20px 20px 0px 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    object-fit: cover;
}

/********Footer********/

.bas_de_page{
    font-family: Raleway;
    display: flex;
    gap: 250px;
    background: var(--main-bg-color);
    padding: 0px 30px 0px 30px;
}

.bas_de_page a:hover{
    text-decoration: underline;
}

ul{
    list-style-type: none;
    padding: 0px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
}

li{
    padding: 5px 0px 15px 0px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

.main-container{
    padding: 0px 20px;
}
.headline h3{
    font-size: 22px;
}

.filtres{
    display: block;
}

.bouton_filtres{
    padding: 10px 19px 10px 19px;
}

.hebergements-and-populaires {
    flex-direction: column;
}

.hebergements{
    width: 100%;
}

.hebergements_cards{
    width: 100%;
    justify-content: initial;
}

.hebergements_cards .card{
    width: 260px;
    height: 100%;
    margin-right: 30px;
}

.section-title{
    font-size: 22px;
    margin: 20px 0px 30px 0px;
}

.populaires {
    width: 100%;
    margin-top: 50px;
}

.populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.populaires-cards .card{
    margin-top: 0px;
}
.populaires-cards a {
    width: 30%;
}

.populaires-cards .card-title {
    font-size: 14px;
}

.populaires-cards .card-subtitle {
    font-size: 13px;
}

.activités{
    width: 100%;
    padding: 0px 30px 0px 30px;
}

.activités_cards .card{
    width: 90%;
    height: 80%;

}
.activités_cards{
    display: flex;
    justify-content: flex-start;
    padding: 0px;
}
.activités_cards img{
    width: 100%;
    height: 80%;
}
.activités_cards a{
    width: 35%;
}

.activités_cards .card-title{
    font-size: 14px;
}


.bas_de_page{
    gap: 120px;
}
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

body{
    width: 100%;
    margin: 0px;
}

main{
    width: 100%;
    
}
main h3{
    font-size: 22px;
}
.main-container{
    width: 100%;
    padding: 0px;
}

.headline{
    width: 80%;
    padding: 20px;
}
.headline h3{
    font-size: 22px;
    margin: 10px 0px 0px 0px;
}

.headline p{
    margin-bottom: 30px;
}

.info{
    padding: 0px 0px 0px 20px;
    margin: 0px;
}
.populaires{
    width: 100%;
    margin-top: 0px;
}

.activités{
    width: auto;
    padding: 20px;
    padding: 10px 0px 30px 30px;
}

.activités h3{
    margin: 0px;
}
header{
    width: 100%;
    display: block;
    padding: 0px;
    text-align: center;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.menu a{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    margin: 0px;
    border-bottom: 2px solid var(--main-bg-color);
}

.menu a:hover{
    border-top: none ;
    border-bottom: 2px solid var(--main-color) ;
}

.bar_recherche{
    margin: 0px;
}

.bar_recherche .bouton_recherche{
    border-radius: 15px 15px 15px 15px;
}

.bouton_recherche span{
    display: none;
}

.fa-magnifying-glass{
    display: contents;
    color: white;
}

.filtres{
    display: block;
    width: 100%;
    padding: 0px 20px 0px 20px;
    margin: 0px;
}

.filtres h3{
    margin-bottom: 10px;
}
.bouton_filtres{
    width: 40%;
    padding: 10px;
    margin: 5px 5px 10px 5px;
    font-size: 14px;
}

.info{
    width: 90%;
    font-size: 16px;
}

.hebergements-and-populaires section{
    border-radius: 0px;
}

.populaires-title{
    margin-top: 20px;
}
.section-title{
    margin: 0px;
    margin-top: 0px;
    font-size: 22px;
}
.hebergements{
    width: 100%;
    order: 2;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}

.hebergements_cards{
    display: block;
    width: 100%;
}

.hebergements_cards .card{
    width: 100%;
    margin: 0px 0px 30px 0px;
}

.afficher_plus{
    margin-top: 0px;
    background-color: white;
}
.populaires-cards{
    display: block;
}

.populaires-cards .card{
    margin-top: 20px;
}

.activités a{
    width: 100%;
}

.activités_cards{
    width: 100%;
    display: block;
    padding: 0px;
    margin: 30px 0px 30px 0px;
}

.activités_cards .card{
    width: 95%;
    height: 80%;
    margin: 10px 20px 10px 0px;
    margin: 10px 20px 30px 0px;
}

.activités_cards img{
    width: 100%;
    height: 141px;
}


footer{
    width: 100%;
}

.bas_de_page{
    display: block;
    padding: 10px 0px 0px 30px;
}
.logo_header{
    text-align: center;
    margin: 20px;
}
}

